@using DAL
@using AdvertizingAgency1.Models
@model ServicesViewModel
<h3 align="center">Услуги:</h3>
<br />
<div>
    @foreach (string i in Model.TypPrice)
{
    bool noimage = true;
        <br />
    <div align="center">
        <div style="margin-left:5px; margin-right:5px">
            @foreach (string z in Model.FileList)
            {
                string[] split = z.Split(new Char[] { '.' });
                if (String.Compare(split[0], i, false) == 0)
                {
                    <a href="@Url.Action("SelectTypeUslug", "Services", new { s = i }, null)"> <img src="@Url.Content("~/content/UslugiImage/")@z" alt="" width="100px" height="100px" /></a>
                    noimage = false;
                }
            }
            @if (noimage)
            {
                <a href="@Url.Action("SelectTypeUslug", "Services", new { s = i }, null)">
                    <img src="@Url.Content("~/content/UslugiImage/noimage.jpg")" alt="" width="100px" height="100px" />
                </a>
            }
        </div>
        <div class="actionpricetyp2">
            @Html.ActionLink(@i, "SelectTypeUslug", "Services", new { s = i }, null)
        </div>
    </div>
}
</div>